<div id="content">
  <button mat-raised-button (click)="sendCommand()">Test</button>

    <div *ngFor="let item of resp" id="responses">
      <h3 *ngIf="item.ack == 0">New session start</h3>
        {{item.res}}, ID: {{item.ack}}
    </div>
</div>

